var unity_version = "<%unity_version%>";
var cef_version = "<%cef_version%>";
var cef_branch = "<%cef_branch%>";
var cefglue_branch = "<%cefglue_branch%>";
var cef_download_dir = ""; //Choose short path (less than 35 characters)
var git_name = "";
var git_mail = "";
var python27_path = "";
var msbuild_verbosity = Verbosity.<%msbuild_verbosity%>;
var skip_update = <%skip_update%>;
var skip_cef_build = <%skip_cef_build%>;
