var cef_version = "<%cef_version%>";
var cef_branch = "<%cef_branch%>";
var cefglue_branch = "<%cefglue_branch%>";
var git_name = "";
var git_mail = "";
var python27_path = "";
var msbuild_verbosity = Verbosity.<%msbuild_verbosity%>;
var skip_update = <%skip_update%>;
